.timer,
.stopwatch {
  text-align: center;
  margin-bottom: 20px;
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.timer h1,
.stopwatch h1 {
  font-size: 40px;
  color: #333;
  margin-top: 0;
}

.buttons button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: #45a049;
}
